.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    row-gap: 12px;
    column-gap: 12px;

}

.galleryItem {

}

.imgGalleryItem {
    width: 120px;
    height: 90px;
}